@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {

    --hero-text-color: rgba(255, 255, 255, 0.9);
    --header-text-color: #000;
    --description-text-color: rgba(0, 0, 0, 0.6);
    --button-text-color: #fff;

    --first-color: #fff;
    --second-color: #FFFBF5;
    --third-color: #F7EFE5;
    --button-color: #7743DB;
    --navbar-background-color: #000;
    --footer-background-color: #7743DB;
    --gradient-background-color: rgba(0, 0, 0, 0.75);
    --border-offer-box-color: rgba(0, 0, 0, 0.2);
    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Roboto', sans-serif;

    --header-font-size: 30px;
    --description-font-size: 17px;
    --nav-font-size: 22px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1400px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;
}

.header {
    color: var(--header-text-color);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 15px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    position: relative;
    background-image: url(./assets/img/header.jpg);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: var(--gradient-background-color);
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    z-index: var(--z-fixed);
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-size: var(--nav-font-size);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    margin-bottom: 30px;
}

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navbar-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    z-index: var(--z-fixed);
}

.nav__img-container {
    width: 80px;
}

.nav__socials-container a {
    margin-right: 10px;
}

.nav__socials-container a:last-child {
    margin-right: 0px
}

.toggle__menu {
    background: none;
    border: none;
    color: var(--first-color);
    cursor: pointer;
}

.hero__text-container {
    position: relative;
    text-align: center;
}

.hero__header {
    color: var(--hero-text-color);
}

.offer__service-container {
    text-align: center;
    border: 1px solid var(--border-offer-box-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.offer__text-container {
    text-align: start;
}

.offer__icon--container {
    margin-bottom: 20px;
}

.offer__icon--container svg {
    color: var(--description-text-color);
}

.offer__text-header {
    margin-bottom: 10px;
}

.offer__button-link {
    color: var(--button-color);
    text-transform: uppercase;
}

.latest-work {
    background-color: var(--second-color);
}

.latest-work__mid-container,
.latest-work__right-container {
    display: none;
}

.latest-work__pictures-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.latest-work__left-container img:first-child {
    height: 250px;
}

.latest-work__left-container img {
    filter: grayscale(100%);
    height: 530px;
    object-fit: cover;
}

.latest-work__left-container img:last-child {
    height: 250px;
}

.people-say__carousel-container {
    max-width: 1100px;
    position: relative;
    max-width: 100%;
    text-align: center;
}

.people-say__arrow-left,
.people-say__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--first-color);
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--shadow-border-arrow-color);
    cursor: pointer;

}

.people-say__arrow-left {
    left: -10px;
}

.people-say__arrow-right {
    right: -10px;
}

.carousel :where(.carousel__card) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
}

.carousel__card {
    background-color: var(--second-color);
    flex-direction: column;
    padding: 20px 30px;
}

.carousel__card svg {
    margin-bottom: 20px;
}

.people-say__card-person-name {
    font-size: var(--description-font-size);
    font-weight: var(--font-medium);
}

.team__people-container {
    text-align: center;
}

.team__person-descriptions {
    margin: 10px 0px 30px 0px;
}

.team__person:last-child .team__person-descriptions {
    margin: 10px 0px;
}

footer {
    padding: 20px;
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
}

.footer__social-container {
    margin-bottom: 20px;
}

.footer__social-container a {
    margin-right: 10px;
}

.quick-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer__left-container,
.footer__right-container {
    width: 50%;
}

.quick-link {
    margin-top: 10px;
    text-transform: uppercase;
}

.footer__social-header,
.footer__quick-links-header,
.footer__contact-header,
.footer__contact-information {
    color: var(--first-color);
    margin-bottom: 10px;
}

.footer__contact-information p {
    margin-bottom: 10px;
}