@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {

    --hero-text-color: rgba(255, 255, 255, 0.9);
    --header-text-color: #000;
    --description-text-color: rgba(0, 0, 0, 0.6);
    --button-text-color: #fff;

    --first-color: #fff;
    --second-color: #FFFBF5;
    --third-color: #F7EFE5;
    --button-color: #7743DB;
    --navbar-background-color: #000;
    --footer-background-color: #7743DB;
    --gradient-background-color: rgba(0, 0, 0, 0.75);
    --border-offer-box-color: rgba(0, 0, 0, 0.2);
    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Roboto', sans-serif;

    --header-font-size: 30px;
    --description-font-size: 17px;
    --nav-font-size: 22px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}

html {
    scroll-padding-top: 60px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1400px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;
}

.header {
    color: var(--header-text-color);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 15px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    position: relative;
    background-image: url(./assets/img/header.jpg);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: var(--gradient-background-color);
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    z-index: var(--z-fixed);
}

.nav__links.active {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-size: var(--nav-font-size);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    margin-bottom: 30px;
}


.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navbar-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    z-index: var(--z-fixed);
}

.nav__bar {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.nav__img-container {
    width: 105px;
}

.nav__socials-container a {
    margin-right: 10px;
}

.nav__socials-container a:last-child {
    margin-right: 0px
}

.toggle__menu {
    background: none;
    border: none;
    color: var(--first-color);
    cursor: pointer;
}

.hero__text-container {
    position: relative;
    text-align: center;
}

.hero__header {
    color: var(--hero-text-color);
}

.offer__services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
}

.offer__service-container {
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    max-width: 400px;
}

.offer__text-container {
    text-align: start;
}

.offer__icon--container {
    margin-bottom: 20px;
}

.offer__icon--container svg {
    color: var(--description-text-color);
}

.offer__text-header {
    margin-bottom: 10px;
}

.offer__button-link {
    color: var(--button-color);
    text-transform: uppercase;
}

.latest-work {
    background-color: var(--second-color);
}

.latest-work__mid-container,
.latest-work__right-container {
    display: none;
}

.latest-work__pictures-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.latest-work__left-container img:first-child {
    height: 250px;
}

.latest-work__left-container img {
    filter: grayscale(100%);
    height: 530px;
    object-fit: cover;
}

.latest-work__left-container img:last-child {
    height: 250px;
}

.people-say__carousel-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.people-say__arrow-left,
.people-say__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--first-color);
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--shadow-border-arrow-color);
    cursor: pointer;

}

.people-say__arrow-left {
    left: -10px;
}

.people-say__arrow-right {
    right: -10px;
}

.carousel :where(.carousel__card) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
}

.carousel__card {
    background-color: var(--second-color);
    flex-direction: column;
    padding: 20px 30px;
    height: 350px;
    border-radius: 20px;
}

.carousel__card svg {
    margin-bottom: 20px;
}

.people-say__card-person-name {
    font-size: var(--description-font-size);
    font-weight: var(--font-medium);
}

.team__people-container {
    text-align: center;
}

.team__person-descriptions {
    margin: 10px 0px 30px 0px;
}

.team__person:last-child .team__person-descriptions {
    margin: 10px 0px;
}

footer {
    padding: 20px;
    background-color: var(--footer-background-color);
}

.footer__cointainer {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.footer__social-container {
    margin-bottom: 20px;
}

.footer__social-container a {
    margin-right: 10px;
}

.quick-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer__left-container,
.footer__right-container {
    width: 50%;
}

.quick-link {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__social-header,
.footer__quick-links-header,
.footer__contact-header,
.footer__contact-information {
    color: var(--first-color);
    margin-bottom: 10px;
}

.footer__contact-information p {
    margin-bottom: 10px;
}

@media screen and (min-width:768px) {
    .description {
        margin-bottom: calc(var(--description-font-size) * 2);
    }

    .container {
        padding: 40px 20px 25px 20px;
    }

    .offer__services-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .offer__service-container {
        width: 32%;
        margin-right: 10px;
        padding: 15px 18px;
    }

    .latest-work__left-container {
        width: 50%;
        height: 100%;
    }

    .latest-work__mid-container {
        display: block;
        width: 50%;
        height: 100%;
        margin: 0 5px;
    }

    .latest-work__mid-container .latest-work__img:first-child {
        height: 530px;
        object-fit: cover;
    }

    .latest-work__mid-container .latest-work__img {
        height: 250px;
        filter: grayscale(100%);
    }

    .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
        gap: 16px;
    }

    .team__people-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .team__people-container .team__person:first-child {
        margin: 0;
    }

    .team__person {
        margin-left: 10px;
    }

    .team__img {
        object-fit: cover;
    }

    .team__person-name {
        font-size: var(--description-font-size);
    }

    footer {
        align-items: start;
    }

    .footer__left-container {
        display: flex;
        justify-content: space-between;
    }

    .footer__right-container {
        display: flex;
        align-items: start;
        justify-content: end;
    }
}

@media screen and (min-width:1260px) {
    :root {
        --header-font-size: calc(30px * 1.2);
        --description-font-size: calc(17px * 1.1);
        --nav-font-size: calc(22px / 1.2);
    }

    .nav__link:hover {
        color: var(--button-color);
    }

    .nav__container {
        padding: 0 40px;

    }

    .toggle__menu {
        display: none;
    }

    .nav__img-container {
        width: 130px;
    }

    .nav__socials-container svg {
        height: 30px;
        width: 30px;
    }

    .nav__links {
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .nav__link {
        font-weight: var(--font-regular);
        margin: 0 20px;
        width: auto;
    }

    .offer__text-header {
        font-size: 22px;
    }

    .offer__services-container {
        justify-content: space-between;
    }

    .offer__icon--container svg {
        height: 50px;
        width: 50px;

    }


    .latest-work__left-container,
    .latest-work__mid-container,
    .latest-work__right-container {
        width: 30%;
    }

    .latest-work__right-container {
        display: block;
        height: 100%;
    }

    .latest-work__right-container .latest-work__img {
        filter: grayscale(100%);
        object-fit: cover;
    }

    .latest-work__right-container .latest-work__img {
        height: 250px;
    }

    .latest-work__right-container .latest-work__img:first-child {
        height: 250px;
    }

    .latest-work__right-container .latest-work__img:last-child {
        height: 530px;
    }

    .latest-work__btn-container {
        text-align: center;
        width: 100%;
    }

    .carousel {
        grid-auto-columns: calc((100% / 3) - 12px);
    }

    @media screen and (min-width:1500px) {
        .hero__text-container {
            max-width: 760px;
        }

        .hero__header {
            font-size: calc(var(--header-font-size)* 1.3);

        }
    }
}